<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img class="feather text-violet feather-big" src="{{ `images/student.png` }}" width="8em" height="8em" alt="Student">
        <h2 class="h2">For Students<small class="d-none">🛡️</small></h2>
        <p>Study any poker spot and the most optimal decisions for different game scenarios.</p>
    </div>
    <div class="col-lg-4">
        <img class="feather text-violet feather-big" src="{{ `images/coach.png` }}" width="8em" height="8em" alt="Coaches">
        <h2 class="h2">For Coaches<small class="d-none">🚀</small></h2>
        <p>Create private study groups where you can share strategy videos and hand reviews with your students.</p>
    </div>
    <div class="col-lg-4">
        <img class="feather text-violet feather-big" src="{{ `images/player.png` }}" width="8em" height="8em" alt="Player">
        <h2 class="h2">For Players <small class="d-none">📈</small></h2>
        <p>Simulate poker hands against an AI opponent, practicing different strategies in a risk-free environment.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">AI Feedback <small class="d-none">🦉</small></h2>
        <p>Review poker hands with the help on an AI to identify mistakes and improve decision making.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Replay and Annotate <small class="d-none">✨</small></h2>
        <p>Upload and annotate poker hands using a built-in replayer, making it easier to explain strategic concepts to students.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Compare with Pros<small class="d-none">🧰</small></h2>
        <p>Compare your stats with those of winning players and pfrofessionals, identifying leaks and areas for improvement.</p>
    </div>
</div>
